<div class="h-[70vh] relative shadow-xl -mt-5">
  <img
    src="https://w.forfun.com/fetch/e1/e137edab77fe8249dd8d0452cdb2ecd9.jpeg"
    alt="blog banner"
    class="h-full w-full object-cover rounded-b-lg"
  />
  <div
    class="absolute inset-0 flex flex-col justify-center content-center items-center text-white backdrop-blur-sm backdrop-brightness-50 rounded-b-lg"
  >
    <h1 class="text-5xl font-bold text-rose-700 classic">Velouria</h1>
    <p class="">
      Welcome to Velouria! Immerse yourself in a fascinating universe of art and
      writing.
    </p>
  </div>
</div>
