---
interface Props {
  title: string;
  description: string;
  date: Date;
  slug: string;
}

const { title, description, date, slug } = Astro.props;
---

<a
  class="rounded-lg border border-neutral-600/75 p-5 w-full min-w-96 transition-colors hover:border-neutral-400 group cursor-pointer"
  href={`/posts/${slug}`}
>
  <h3 class="text-2xl font-bold capitalize group-hover:text-rose-700 truncate">
    {title}
  </h3>
  <p class="truncate">{description}</p>
  <p class="text-xs italic">{date.toDateString()}</p>
</a>
