<header>
  <nav class="shadow-sm border-b border-b-slate-200">
    <div
      class="container mx-auto flex justify-between content-center items-center gap-4 p-2"
    >
      <h1 class="font-bold text-rose-700 text-2xl classic">
        <a href="/">Velouria</a>
      </h1>
      <p class="text-rose-700 text-xs italic grow text-end lg:text-center">
        Art & Write.
      </p>
      <ul class="gap-4 [&>*]:transition-colors align-end hidden lg:flex">
        <li><a href="/posts" class="text-black">posts</a></li>
        <li><a href="/designs" class="text-black">designs</a></li>
        <li><a href="/tags/all" class="text-black">tags</a></li>
        <li><a href="/about" class="text-black">about</a></li>
      </ul>
    </div>
  </nav>
</header>
