<nav class="shadow-sm border-b border-b-slate-200">
  <div
    class="container mx-auto flex justify-between content-center items-center gap-4 p-2"
  >
    <h1 class="font-bold text-rose-700 text-xl classic">
      <a href="/">Velouria</a>
    </h1>
    <ul class="flex gap-4 [&>*]:transition-colors">
      <li class="hover:text-rose-700"><a href="/posts">posts</a></li>
      <li class="hover:text-rose-700"><a href="/designs">designs</a></li>
      <li class="hover:text-rose-700"><a href="/about">about</a></li>
    </ul>
  </div>
</nav>
