<section class="my-7">
  <div
    class="border-2 border-dashed border-slate-300 rounded-lg p-5 bg-gradient-to-tr from-emerald-100 via-slate-200 to-sky-200"
  >
    <h3 class="text-rose-700 font-bold text-3xl">Newsletter</h3>
    <div class="text-sm">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus,
      suscipit similique veniam aliquam consequuntur corporis aliquid! Sed ipsam
      nam culpa deserunt, voluptates officia delectus recusandae alias quae
      neque earum dicta.
    </div>
  </div>
</section>
