---
import Layout from "./Layout.astro";
import TagsViewer from "../components/posts/TagsViewer.astro";
import HeadingsViewer from "../components/posts/HeadingsViewer.astro";

const { post, headings } = Astro.props;
---

<Layout title={post.data.title}>
  <main class="mx-auto container grid grid-cols-4 gap-4">
    <article
      class="prose lg:prose-lg max-w-full my-5 prose-headings:text-rose-700 prose-img:mx-auto col-span-4 lg:col-span-3"
    >
      <slot />
    </article>
    <aside class="col-span-1 hidden lg:block sticky top-5 h-fit">
      <HeadingsViewer headings={headings} />
      <TagsViewer post={post} />
    </aside>
  </main>
</Layout>
